/*通用数字装饰*/
.whois_all{
    position: relative;
}
.num-embellish {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}

.num-embellish i {
    background: url(../../static/img/num-embellish.png) no-repeat;
    display: inline-block;
    width: 42px;
    height: 70px;
}

.num-embellish .num-0 {
    background-position: 0 0;
}

.num-embellish .num-1 {
    background-position: 0 -101px;
}

.num-embellish .num-2 {
    background-position: 0 -200px;
}

.num-embellish .num-3 {
    background-position: 0 -300px;
}

.num-embellish .num-4 {
    background-position: 0 -400px;
}

.num-embellish .num-5 {
    background-position: 0 -500px;
}

.num-embellish .num-6 {
    background-position: 0 -600px;
}

.num-embellish .num-7 {
    background-position: 0 -700px;
}

.num-embellish .num-8 {
    background-position: 0 -800px;
}

.num-embellish .num-9 {
    background-position: 0 -900px;
}

@media (min-width: 993px) {
    .whois_search {
        width: 100%;
        height: 180px;
        /* background: url(../img/header-bg.jpg) center; */
        background-size: cover;
        /* margin-top: 64px; */
        position: relative;
    }
    .whois_search_position {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 740px;
    }
    .whois_search_title {
        font-size: 58px;
        color: #ffc62f;
    }
    .whois_search_p {
        font-size: 16px;
        color: #333;
    }
    .whois_search_div {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;
    }
    .whois_search_input {
        padding: .375rem 1.75rem;
        float: left;
        width: 70%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08);
        border-radius: 0;
    }
    .whois_search_button {
        float: left;
        width: 30%;
        height: 50px;
        line-height: 46px;
        border-radius: 0;
        background: #506cd2;
        color: #fff;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }
    .whois_search_button:hover {
        background: #5971c7
    }
    .whois-box {
        max-width: 1380px;
        margin: 0 auto;
        padding: 80px 0;
        padding-bottom: 260px;
    }
    .whois-introduce {
        overflow: hidden;
    }
    .whois-width {
        width: 330px;
        margin: 0 auto;
        position: relative;
    }
    .whois-width p {
        color: #535353;
    }
    .whois-introduce li {
        position: relative;
        float: left;
        width: 33.333%;
        margin: 20px 0;
    }
    .whois-introduce li h3 {
        font-size: 22px;
        position: relative;
        z-index: 1;
        padding-top: 40px;
        font-weight: bold;
    }
    .whois-introduce li p {
        width: 330px;
        font-size: 14px;
        color: #666666;
        position: relative;
        z-index: 1
    }
}

@media (max-width: 992px) {
    .whois_search {
        width: 100%;
        height: 180px;
        /* background: url(../img/header-bg.jpg) center; */
        background-size: cover;
        position: relative;
        width: 100%;
    }
    .whois_search_position {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .whois_search_title {
        font-size: 24px;
        color: #ffc62f;
    }
    .whois_search_p {
        font-size: 14px;
        color: #333;
    }
    .whois_search_div {
        width: 80vw;
        margin: 0 auto;
        overflow: hidden;
    }
    .whois_search_input {
        padding: .375rem 1.75rem;
        float: left;
        width: 100%;
        height: 40px;
        line-height: 50px;
        font-size: 16px;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
    }
    .whois_search_button {
        width: 36%;
        height: 40px;
        line-height: 36px;
        border-radius: 0;
        background: #506cd2;
        color: #fff;
        border: none;
        font-size: 14px;
        cursor: pointer;
        margin: 20px auto 0;
        border-radius: 5px;
    }
    .whois_search_button:hover {
        background: #5971c7
    }
    .whois-box {
        padding: 60px 0 22vh;
    }
    .whois-introduce {
        overflow: hidden;
    }
    .whois-width {
        width: 330px;
        margin: 0 auto;
        position: relative;
    }
    .whois-width p {
        color: #535353;
    }
    .whois-introduce li {
        width: 100%;
        margin: 0;
        font-size: 14px;
        padding-bottom: 20px
    }
    .whois-introduce li h3 {
        font-size: 18px;
        padding: 0
    }
    .whois-introduce li p {
        font-size: 14px;
        width: 100%
    }
}