*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box{
    overflow: hidden;
}
.left{
    float: left;
    /* width: calc(50% - 20px); */
    padding: 10px;
}
.input_textarea{
    padding: 10px;
    width: 100%;
    font-size: 18px;
}
.title{
    margin: 10px 0;
    font-size: 20px;
}
.btn_box{
    /* width: calc(50% - 20px); */
    padding: 10px;
    float: left;
}